<% provide(:title, "All Tasks") %>
<h1>管理者のタスク一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名称</th>
        <th>作成日</th>
      </tr>
     </thead>
     
     <% @tasks.each do |task| %>
       <tr>
         <td><%= link_to task.task_name, user_task_path(@user, task) %></td>
         <td><%= task.created_at.to_s(:datetime_jp) %></td>
         <td><%= link_to "編集", edit_user_task_path(@user, task), class: "btn btn-lg pull-right btn-success" %></td>
         <td><%= link_to "削除", user_task_path(@user, task), method: :delete,
                 data: { confirm: "削除してよろしいですか？" },
                 class: "btn btn-lg btn-danger" %>
         </td>
       </tr>
     <% end %>
  </table>
</div>    


