<% provide(:title, "Index") %>
<h1>管理者のタスク一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>名称</th>
          <th>作成日</th>
          <th><%= link_to "編集", "#", class: "btn btn-lg btn-success" %></th>
          <th><%= link_to "削除", "#", class: "btn btn-lg btn-danger" %></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%=  %></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>    
</div>


